<div class="homepage">
  <div class="caption-box">
    <h1>Musings</h1>
    <p>Share your thoughts with the world</p>
  </div>
  <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-lg" %>
</div>
