/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.container {
  margin-top: 60px;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: blue;
  background-color: #fff;
  margin: 5px 15px 5px 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // margin-top: 50px;
  padding: 50px;
  background-image: asset-url('home.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 10px;

  h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 3rem;
    font-weight: bold;
  }
}

.footer {
  margin-top: 60px;
  border-top: 2px solid #eaeaea;
  padding: 12px;
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
