<h1 class="text-center mb-1"><%= "Category: " + @category.name %></h1>

<div class="text-center mb-3">
  <% if logged_in? and current_user.admin? %>
    <span class="badge">
      <%= link_to 'Edit category name', edit_category_path(@category) %>
    </span>
  <% end %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<% if @category_articles.empty? %>
  <div class="alert alert-info text-center">
    No articles found in this category
  </div>
<% end %>

<div class="mt-5 d-flex justify-content-center">
  <%= will_paginate(@category_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
